# Gradle
.gradle/
build/
out/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Eclipse
.classpath
.project
.settings/

# VS Code
.vscode/

# NeoForge / ForgeGradle
run/
runs/
natives/
libs/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Markdown — sauf README
*.md
!README.md

